<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897652991129-qajadhfaj9hedj8tgs001n7km4faqiqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897652991129-qajadhfaj9hedj8tgs001n7km4faqiqa</string>
	<key>API_KEY</key>
	<string>AIzaSyAMzz4jvE_I4sxay9PHtSbMRKup9Q0QN74</string>
	<key>GCM_SENDER_ID</key>
	<string>897652991129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lugaresCercanos</string>
	<key>PROJECT_ID</key>
	<string>dblugares</string>
	<key>STORAGE_BUCKET</key>
	<string>dblugares.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897652991129:ios:ea3272323bfcfcadc38408</string>
</dict>
</plist>